.navbar {
    width: 100%;
    position: relative;
}
.navbar__img {
    width: 100%;
    /* mix-blend-mode: #000000; */
    filter: grayscale(0.5);
    transition-property: filter;
    transition-duration: 4s;
}

.navbar__content {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-25%, -80%);
    /* text-align: center; */
}

.navbar__content-title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 rgb(0 0 0 / 40%);
    line-height: 1;
    color: #ffffff;
}

.navbar__content-paragraph {
    color: #ffffff;
}