.container-body {
    background-color: #ebebf0;
    margin: 30px;
    position: relative;
    /* height: -webkit-fill-available; */
}

article {
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

